@import 'nullstyle.scss';
@import 'main.scss';
body {
   // background: radial-gradient(#739db3, #436182);
   //  background: linear-gradient(#def0f3, #7d7d7d);
   background-color: #7d7d7d;
   background-color: rgba(255, 255, 255, 0.41);
   background-color: #1a1a1a;
}
